<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/book.css">
  <title>ShelfApp</title>
</head>
<body>

<header>

  <div class="banner-logo">
    <img src="/images/ShelfApp-logo/vector/default-monochrome-white.svg" alt="ShelfApp">
    <nav>
      <ul>
        <li class="menu"><a onclick="overview()">Search</a></li>
        <li class="menu menu-bookshelf"><a onclick="bookshelf()">Bookshelf</a></li>
        <li class="menu menu-profile"><a onclick="profile">Profile</a></li>
        <li class="menu">
          <form method="post" action="/logout">
            <input id="token" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <button class="button" type="submit">LOGOUT</button>
          </form>
        </li>
      </ul>
    </nav>
  </div>
</header>

<main>
  <div class="book-container">
    <h1 class="book-title" th:text="${book?.title} ?: 'No title available'"></h1>
    <h2 class="book-subtitle" th:text="${book?.subtitle} ?: 'No subtitle available'"></h2>
    <div class="book-authors">
      <ul>
        <li th:each="author : ${book.author}" th:text="${author}" th:if="${author != null}"></li>
      </ul>
    </div>
    <div class="book-image">
      <img th:if="${book.imageLink}" th:src="${book.imageLink}"/>
    </div>
    <p class="book-desc" th:text="${book?.description} ?: 'No description available'"></p>
    <h5 style="text-decoration: underline;">Publisher</h5>
    <h6 class="book-publisher" th:text="${book?.publisher} ?: 'No publisher available'"></h6>
    <div class="book-reviews">

      <form th:action="@{/submitreview/{bookId}(bookId=${book.bookId})}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <label for="rating">Choose a rating:</label>
        <input type="hidden" th:field="${book.bookId}">
        <select id="rating" name="rating">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <button type="submit" class="review-submit">Submit Rating</button>
      </form>

      <ul>
        <li th:each="review : ${book.reviews}" th:if="${review != null}">
          <span>Rating</span><p th:text="${review.reviewStars}"></p>
        </li>
      </ul>
    </div>
    <input class="book-id" type="hidden" th:field="${book.bookId}">
    <button class="bookshelf-button" id="add-to-bookshelf" style="display: none;">Add to Bookshelf</button>
  </div>


</main>

<footer>
  <p>ShelfApp 2023</p>
</footer>
<script src="/js/book.js"></script>
</body>
</html>