<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/bookshelf.css">
  <title>ShelfApp</title>
</head>
<body>

<header>

  <div class="banner-logo">
    <img src="/images/ShelfApp-logo/vector/default-monochrome-white.svg" alt="ShelfApp">
    <nav>
      <ul>
        <li class="menu"><a onclick="overview()">Search</a></li>
        <li class="menu"><a onclick="profile()">Profile</a></li>
        <li class="menu"><a onclick="friends()">Friends</a></li>
        <li class="menu">
          <form method="post" action="/logout">
            <input id="token" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <button class="button" type="submit">LOGOUT</button>
          </form>
        </li>
      </ul>
    </nav>
  </div>
</header>

<main>
  <div class="book-container">
    <h1 th:text="${bookshelf.bookshelfName}"></h1>
    <div class="books-grid">
      <div class="single-book" th:each="book : ${bookshelf.books}" th:if="${!#lists.isEmpty(bookshelf.books)}">
        <h1 class="book-title" th:text="${book?.title} ?: 'No title available'"></h1>
        <h2 class="book-subtitle" th:text="${book?.subtitle} ?: 'No subtitle available'"></h2>
        <div class="book-authors">
          <ul>
            <li th:each="author : ${book.author}" th:text="${author}" th:if="${author != null}"></li>
          </ul>
        </div>
        <div class="book-image">
          <img th:if="${book.imageLink}" th:src="${book.imageLink}"/>
        </div>
        <p class="book-desc" th:text="${book?.description} ?: 'No description available'"></p>
        <h5 style="text-decoration: underline;">Publisher</h5>
        <h6 class="book-publisher" th:text="${book?.publisher} ?: 'No publisher available'"></h6>
        <input class="book-id" type="hidden" th:value="${book.bookId}">
      </div>
    </div>
  </div>

</main>

<footer>
  <p>ShelfApp 2023</p>
</footer>
<script src="/js/bookshelf.js"></script>
</body>
</html>