<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ShelfApp</title>
    <link rel="stylesheet" href="/css/login.css" type="text/css">
</head>
<body>

    <div class="login-form">
        <h1 class="login-form__banner">Welcome to ShelfApp</h1>
        <div class="login-form__email">
        <input type="text" name="Email" placeholder="Enter E-mail">
        </div>
        <div class="login-form__password">
            <input type="password" name="password" placeholder="Enter Password">
        </div>
        <div class="login-form__buttons">
            <input name="login-button"  type="button" value="Sign In">
            <input name="register-button" type="button" value="Register">
        </div>
    </div>
</body>
</html>